In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
df = pd.read_csv('pm.csv.csv')

In [37]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [38]:
df["Age"].mean()

36.923809523809524

In [39]:
df["Age"].mode()

0    35
Name: Age, dtype: int64

In [40]:
df["Age"].median()

36.0

In [41]:
df["DailyRate"].mean()

802.4857142857143

In [42]:
df["DailyRate"].median()

802.0

In [43]:
df["DailyRate"].mode()

0    691
Name: DailyRate, dtype: int64

In [44]:
df["DistanceFromHome"].mean()

9.19251700680272

In [45]:
df["DistanceFromHome"].mode()

0    2
Name: DistanceFromHome, dtype: int64

In [46]:
df["DistanceFromHome"].median()

7.0

In [47]:
df["Education"].mean()

2.912925170068027

In [48]:
df["Education"].mode()

0    3
Name: Education, dtype: int64

In [49]:
df["Education"].median()

3.0

In [50]:
df['Attrition'].mode()

0    No
Name: Attrition, dtype: object

In [51]:
df['BusinessTravel'].mode()

0    Travel_Rarely
Name: BusinessTravel, dtype: object